<nav class="relative container mx-auto bg-red-500">
    <!-- FLex container-->
    <div class="flex items-center justify-between">
        
        <div class ="pt 2">
            <p> STL Angelic Caregivers </p>
        </div>
        <!-- Menu Items-->
        <div class="hidden md:flex space-x-6">
            <a href="#" class="hover:text-brightRed"> What We Do</a>
            <a href="#">Contact Us</a>
        </div>

        <a href="#" class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRed">Learn More</a>
    </div>
</nav>

<!-- Hero Section -->
<section id="hero">
    <!--Flex Container-->
    <div class="container flex flex-col-reverse md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">
        <!-- Left Item-->
        <div class = "flex flex-col mb-32 space-y-12 md:w-1/2">
            <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-5xl md:textleft">
                Welcome to Saint Louis Angelic Caregivers
            </h1>

        </div>
        <!--Image -->
        <div>

        </div>
    </div>
</section>